<%=  form_for @hall, remote: true, html: { class: "new-hall" }  do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "control-label" %>
    <%= f.text_field :title, class: "form-control col-md-2 text-center", placeholder: "Enter name of room"%>
    <small id="nameHelpBlock" class="form-text text-muted">
      Your name must be at least 2 characters long.
    </small>
  </div>


  <div class="form-group">
    <%= f.label :capacity, class: "control-label" %>
    <%= f.number_field :capacity, class: "form-control col-md-1 text-center"%>
    <small id="ageHelpBlock" class="form-text text-muted">
      Capacity of the room
    </small>
  </div>

  <%= f.submit 'save', role: 'button', class:'btn btn-outline-success' %>
<% end %>
