<h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, validate: true) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="edit-pswd">
    <div class="form-group">
      <%= f.label :password, class:"control-label" %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control col-md-3 col-centered" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class:"control-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control col-md-3 col-centered" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password, class:"control-label" %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control col-md-3 col-centered" %>
    </div>

    <div class="pswd-btns">
      <%= f.submit 'Update', role: 'button', class:"btn btn-outline-success btn-customize"%>
      <%= link_to "Back", :back, role: 'button', class:"btn btn-outline-success btn-customize" %>
    </div>
  </div>
<% end %>
