<div class="container">
	<% @users.each do |user| %>
	<% if user.is_verified? %>
		<div data-user-id="<%= user.id %>" class="row">
	  <%= user.fullname %><br>
	  <%= user.email %>
		<%= link_to "Destroy", admin_path(user), method: :delete, data: { confirm: "You sure?" } %>
		<%= link_to 'Edit', edit_admin_path(id: user.id)%>
		</div>
		<% end %>
	<% end %>
</div>

<br><br>
Not Verified :
<div class="container">
	<% @users.each do |user| %>
		<% if !user.is_verified? %>
			<div data-user-id="<%= user.id %>" class="row">
			  <%= user.fullname %><br>
			  <%= user.email %>
				<%= link_to "Verify", verify_admin_path(id: user.id), method: :put %>
				<%= link_to "Destroy", admin_path(user), method: :delete, data: { confirm: "You sure?" } %>
			</div>
		<% end %>
	<% end %>
</div>
