<%= form_for @group, validate: true do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <hr />
  <input type="text" id='invited' onkeyup='FindUsers()' placeholder="Search for names..">
  <ul id='list'>
  <% User.where.not(id: current_user.id).each do |user| %>
        <li user_id=<%= user.id %>><a><%= user.fullname %></a></li>
  <% end %>
</ul>
  <hr />
  <%= f.hidden_field :inviter_ids, value: current_user.id %>
  <%= f.hidden_field :invited_ids, value: @group.invited_ids%>
  <%= f.submit 'Save' %>
<% end %>

<script>
  $(document).on('turbolinks:load', function() {
    $('#list li').on('click',function() {
      $(this).toggleClass('selected');
    });

    $('#new_group').on('submit', function( event ){
      event.preventDefault();
      var userIds = [];
      $('#list li.selected').each(function() {
        userIds.push($(this).attr('user_id'));
      });
      $('#group_invited_ids').attr('value', userIds)
      event.currentTarget.submit();
    });
    invitedIds = $('#reservation_invited_ids').attr('value').split(",");
    for (var i = 0; i < invitedIds.length; i++) {
      $('#list li[user_id=' + invitedIds[i] + ']').addClass('selected');
    }
    $('.edit_group').on('submit', function( event ){
      event.preventDefault();
      var userIds = [];
      $('#list li.selected').each(function() {
        userIds.push($(this).attr('user_id'));
      });
      $('#group_invited_ids').attr('value', userIds)
      event.currentTarget.submit();
    });
  });
</script>
