<%= form_for @user, validate: true  do |f| %>

	<% if current_user.avatar.url.present? %>
		<div class="jumbotron">
			<%= image_tag current_user.avatar.url, class:"rounded-circle", style:"width:100px; height:100px; float:left", :alt => "avatar"%><br>
		</div>
		<% end %>

			<div class="form-group">
				<%= f.label :name , autofocus: true %>
					<%= f.text_field :name, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :surname %>
					<%= f.text_field :surname, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :email %>
					<%= f.email_field :email, autocomplete: "email", class: "form-control" %>
			</div>

			<% if current_user.avatar.url.present? %>
				<div class="form-group">
					<%= f.label :remove_avatar %>
						<%= f.check_box :remove_avatar %>
							<%= f.file_field :avatar, class: "form-control" %>
								<%= f.hidden_field :avatar_cache %>
				</div>
				<% else %>
					<div class="form-group">
						<%= f.label :avatar %>
							<%= f.file_field :avatar, class: "form-control" %>
								<%= f.hidden_field :avatar_cache %>
					</div>
					<% end %>

						<div class="actions">
							<%= f.submit "Update" %>
						</div>
						<% end %>
