<div class="home-logo text-center">
  <%= image_tag("binarApps.png", alt:"BA logo", onclick: "openNav()" )%>
</div>

<div class="home-page-header text-center col-md-12">
  <h2> Welcome to Binar::Meeting</h2>
  <% if current_user %>
    <h3>Logged</h3>
    Admin:
      <% if current_user.is_admin? %>
        True
      <% else %>
        False
      <% end %>
<h3 class="rooms-header"> Available rooms: </h3>
<h5 class="small-header">click "see more" to make reservation </h5>
<div class="row room-card">
  <div class="col-md-2 col-centered">
    <div class="card">
      <div class="card-body">
         <h5 class="card-title"><%="#{Hall.find(5).title}"%></h5>
         <p class="card-text"><%="Beautiful, cozy room for #{Hall.find(5).capacity} people"%></p>
         <a href="/halls/5" class="btn btn-outline-success">See more</a>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-centered">
    <div class="card">
      <div class="card-body">
         <h5 class="card-title"><%="#{Hall.find(2).title}"%></h5>
         <p class="card-text"><%="Beautiful, cozy room for #{Hall.find(2).capacity} people"%></p>
         <a href="/halls/2" class="btn btn-outline-success">See more</a>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-centered">
    <div class="card">
      <div class="card-body">
         <h5 class="card-title"><%="#{Hall.find(4).title}"%></h5>
         <p class="card-text"><%="Beautiful, cozy room for #{Hall.find(4).capacity} people"%></p>
         <a href="/halls/4" class="btn btn-outline-success">See more</a>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-centered">
    <div class="card">
      <div class="card-body">
         <h5 class="card-title"><%="#{Hall.find(7).title}"%></h5>
         <p class="card-text"><%="Beautiful, cozy room for #{Hall.find(2).capacity} people"%></p>
         <a href="/halls/7" class="btn btn-outline-success">See more</a>
      </div>
    </div>
  </div>
</div>

  <% else %>
  <h3>Not Logged</h3>
</div>

<%= render 'layouts/partials/login_form' %>
  <% end %>
