<%= form_for @reservation do |f| %>

  <%= f.hidden_field :id, :value => @reservation.id %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <hr />
  <%= f.label :start_date %>
  <%= f.datetime_local_field :start_date %>
  <hr />
  <%= f.label :end_date %>
  <%= f.datetime_local_field :end_date %>
  <hr />
  <%= f.label :hall_id %>
  <%= f.collection_select(:hall_id, Hall.all, :id, :title) %>
  <hr />
  <p> Choose who do you want to invite: </p>
  <input type="text" id='invited' onkeyup='FindUsers()' placeholder="Search for names..">
  <% User.all.each do |user| %>
    <ul id='list'>
      <li><a href="#"><%= user.fullname %></a></li>
    </ul>
  <% end %>
  <hr />
  <%= f.submit 'Save' %>
<%  end %>
