<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

<%= form_for @reservation, validate: true do |f| %>
  <div class="new-reservation text-center">
    <%= f.hidden_field :id, :value => @reservation.id %>
    <div class="form-group">
      <%= f.label :title, class:"control-label" %>
      <%= f.text_field :title, class: "form-control col-md-3 text-center col-centered", placeholder: "Describe reservation" %>
    </div>

      <div class='form-group col-md-3 text-center col-centered'>
       <%= f.label :start_date, 'Start Date and Time', class: 'control-label' %><br>
         <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
           <%= f.text_field(:start_date,
             value: f.object.start_date ? f.object.start_date.strftime('%B %d, %Y %I:%M %p') : nil,
             class: "form-control datetimepicker-input", data: {target:"#datetimepicker1"}) %>
           <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
             <div class="input-group-text"><i class="fa fa-calendar"></i></div>
           </div>
         </div>
     </div>

     <div class='form-group col-md-3 text-center col-centered'>
      <%= f.label :end_date, 'End Date and Time', class: 'control-label' %><br>
        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
          <%= f.text_field(:end_date,
            value: f.object.end_date ? f.object.end_date.strftime('%B %d, %Y %I:%M %p') : nil,
            class: "form-control datetimepicker-input", data: {target:"#datetimepicker2"}) %>
          <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
    </div>

    <div class="form-group col-md-3 col-centered">
      <%= f.label :hall_id %>
      <%= f.collection_select(:hall_id, Hall.all, :id, :title, {:include_blank => true}, {:class => 'form-control'}) %>
    </div>

    <div class="invited-picker">
      <p> Choose who do you want to invite: </p>
      <input type="text" id='invited' onkeyup='FindUsers()' placeholder="Search for names.." class="col-md-3">
      <ul id='list'>
      <% User.where.not(id: current_user.id).each do |user| %>
            <li class="col-md-3 col-centered" user_id=<%= user.id %>><a><%= user.fullname %></a></li>
      <% end %>
    </div>
</ul>

  <%= f.hidden_field :invited_ids, value: @reservation.invited_ids%>
  <%= f.submit 'Save', role: 'button', class:"btn btn-outline-success btn-customize save-reservation-btn" %>
<%  end %>

<script>
  $(document).on('turbolinks:load', function() {

      $('#list li').on('click',function() {
      $(this).toggleClass('selected');
    });
    $('#new_reservation').on('submit', function( event ){
      event.preventDefault();
      var userIds = [];
      $('#list li.selected').each(function() {
        userIds.push($(this).attr('user_id'));
      });
      $('#reservation_invited_ids').attr('value', userIds)
      event.currentTarget.submit();
    });
    invitedIds = $('#reservation_invited_ids').attr('value').split(',');
    for (var i = 0; i < invitedIds.length; i++) {
      $('#list li[user_id=' + invitedIds[i] + ']').addClass('selected');
    }
    $('.edit_reservation').on('submit', function( event ){
      event.preventDefault();
      var userIds = [];
      $('#list li.selected').each(function() {
        userIds.push($(this).attr('user_id'));
      });
      $('#reservation_invited_ids').attr('value', userIds)
      event.currentTarget.submit();
    });
  });
</script>
