<%= form_for @reservation, validate: true do |f| %>
  <div class="new-reservation text-center">
    <%= f.hidden_field :id, :value => @reservation.id %>
    <div class="form-group">
      <%= f.label :title, class:"control-label" %>
      <%= f.text_field :title, class: "form-control col-md-3 text-center col-centered", placeholder: "Describe reservation" %>
    </div>

      <div class='form-group col-md-3 text-center col-centered'>
       <%= f.label :start_date, 'Start Date and Time', class: 'control-label' %><br>
       <%= f.text_field :start_date, class: 'flatpickr-input' %><br>
     </div>

     <div class='form-group col-md-3 text-center col-centered'>
      <%= f.label :end_date, 'Start Date and Time', class: 'control-label' %><br>
      <%= f.text_field :end_date, class: 'flatpickr-input' %><br>
    </div>

    <script type="text/javascript">
     $(document).ready(function(){
       $('.flatpickr-input').flatpickr({
         enableTime: true,
         dateFormat: "Y-m-d H:i",
         altInput: true,
         altFormat: "F j, Y H:i",
         minDate: "today",
         time_24hr: true,
        "disable": [function(date) {return (date.getDay() === 6 || date.getDay() === 0);}],
        "locale": {
          "firstDayOfWeek": 1
        },
       });

     });
   </script>

    <div class="form-group col-md-3 col-centered">
      <%= f.label :hall_id %>
      <%= f.collection_select(:hall_id, Hall.all, :id, :title, {:include_blank => true}, {:class => 'form-control'}) %>
    </div>

    <div class="invited-picker">
      <p> Choose who do you want to invite: </p>
      <input type="text" id='invited' onkeyup='FindUsers()' placeholder="Search for names.." class="col-md-3">
      <ul id='list'>
      <% User.where.not(id: current_user.id).each do |user| %>
        <li class="col-md-3 col-centered user-group-list-elem" user_id=<%= user.id %>><a><%= user.fullname %></a></li>
      <% end %>
      <% Group.all.each do |group| %>
        <li class="col-md-3 col-centered user-group-list-elem" group_id=<%= group.id %>><a><%= group.title %></a></li>
      <% end %>
        <div id='empty-message'></div>
      </ul>
</div>

  <%= f.hidden_field :invited_ids, value: @reservation.invited_ids%>
  <%= f.submit 'Save', role: 'button', class:"btn btn-outline-success btn-customize save-reservation-btn" %>
<%  end %>

<script>
  $(document).on('turbolinks:load', function() {

      $('#list li').on('click',function() {
      $(this).toggleClass('selected');
    });
    $('#new_reservation').on('submit', function( event ){
      event.preventDefault();
      var userIds = [];
      $('#list li.selected').each(function() {
        userIds.push($(this).attr('user_id'));
      });
      $('#reservation_invited_ids').attr('value', userIds)
      event.currentTarget.submit();
    });
    invitedIds = $('#reservation_invited_ids').attr('value').split(',');
    for (var i = 0; i < invitedIds.length; i++) {
      $('#list li[user_id=' + invitedIds[i] + ']').addClass('selected');
    }
    $('.edit_reservation').on('submit', function( event ){
      event.preventDefault();
      var userIds = [];
      $('#list li.selected').each(function() {
        userIds.push($(this).attr('user_id'));
      });
      $('#reservation_invited_ids').attr('value', userIds)
      event.currentTarget.submit();
    });
  });
</script>
