<%= form_for @reservation do |f| %>
  <div class="new-reservation text-center">
    <%= f.hidden_field :id, :value => @reservation.id %>
    <div class="form-group">
      <%= f.label :title, class:"control-label" %>
      <%= f.text_field :title, class: "form-control col-md-3 text-center col-centered", placeholder: "Describe reservation" %>
    </div>

    <div class="form-group">
      <%= f.label :start_date, class:"control-label" %></br>
      <%= f.datetime_local_field :start_date %>
    </div>

    <div class="form-group">
      <%= f.label :end_date, class:"control-label" %></br>
      <%= f.datetime_local_field :end_date %>
    </div>

    <div class="form-group col-md-3 col-centered">
      <%= f.label :hall_id %>
      <%= f.collection_select(:hall_id, Hall.all, :id, :title, {:include_blank => true}, {:class => 'form-control'}) %>
    </div>

  <p> Choose who do you want to invite: </p>
  <input type="text" id='invited' onkeyup='FindUsers()' placeholder="Search for names.." class="col-md-4">
  <ul id='list'>
  <% User.all.each do |user| %>
        <li user_id=<%= user.id %>><a class="col-md-4 col-centered"><%= user.fullname %></a></li>
  <% end %>
</ul>

  <%= f.hidden_field :invited_ids, value: ''%>
  <%= f.submit 'Save', role: 'button', class:"btn btn-outline-success btn-customize save-reservation-btn" %>
<%  end %>

<script>
  $(document).on('turbolinks:load', function() {
    $('#list li').on('click',function() {
      $(this).toggleClass('selected');
    });

    $('#new_reservation').on('submit', function( event ){
      event.preventDefault();
      var userIds = [];
      $('#list li.selected').each(function() {
        userIds.push($(this).attr('user_id'));
      });
      $('#reservation_invited_ids').attr('value', userIds)
      event.currentTarget.submit();
    });

    $('.edit_reservation').on('submit', function( event ){
      event.preventDefault();
      var userIds = [];
      $('#list li.selected').each(function() {
        userIds.push($(this).attr('user_id'));
      });
      $('#reservation_invited_ids').attr('value', userIds)
      event.currentTarget.submit();
    });
  });
</script>
