<%= form_for @reservation do |f| %>

  <%= f.hidden_field :id, :value => @reservation.id %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <hr />
  <%= f.label :number_of_people %>
  <%= f.number_field :number_of_people %>
  <hr />
  <%= f.label :start_date %>
  <%= f.datetime_local_field :start_date %>
  <hr />
  <%= f.label :end_date %>
  <%= f.datetime_local_field :end_date %>
  <hr />
  <%= f.label :hall_id %>
  <%= f.collection_select(:hall_id, Hall.all, :id, :title) %>
  <hr />
  <p> Choose who do you want to invite: </p>
  <ul>
  <% User.all.each do |user| %>
      <li>
        <%= check_box_tag 'invited[]', user.id -%>
        <%= user.fullname -%>
      </li>
  <% end %>
</ul>
  <hr />
  <%= f.submit 'Save' %>
<%  end %>
