<head>
  <link rel="stylesheet" href="animate.min.css">
</head>
<h1 class="show-reservation text-center">
 <%= "Reservation: #{@reservation.title}" %>
</h1>

<div class="info-reservation col-md-6 col-centered">
  <div class="reservation-label text-center">
    <div class="row justify-content-around">
      <div class="start-date-label">
        Start date:
        <p class="start-date-value"><%= @reservation.start_date%></p>
      </div>

      <div class="end-date-label">
        End date:
        <p class="end-date-value"><%= @reservation.end_date%></p>
      </div>
    </div>

    <div class="invitor-label">
      Invitor:
      <p class="invitor-value"><%= @reservation.user.fullname%></p>
    </div>

    <div class="hall-label">
      Hall:
      <p class="hall-value"><%= @reservation.hall.title%></p>
    </div>

    Invited:
    <p class="invited-value">
      <% @users.each do |user|%>
        <%= link_to user.fullname, user_path(id: user.id), role: 'button', class: "btn btn-secondary" %>
      <% end %>
    </p>
  </div>

  <hr />

  <div class="reservation-buttons text-center">
    <%= link_to 'Back', :back, role: 'button', class:"btn btn-outline-success btn-customize"%>
    <%= link_to 'New reservation', new_reservation_path, role: 'button', class:"btn btn-outline-success btn-customize"%>
    <% if current_user.id == @reservation.user_id || current_user.admin %>
      <%= link_to 'Edit', edit_reservation_path(id: @reservation.id),role: 'button', class:'btn btn-outline-success btn-customize' %>
      <%= link_to 'Delete', reservation_path(id: @reservation.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, role: 'button', class:'btn btn-danger text-center btn-customize' %>
    <% else %>
      <button type="button" class="btn btn-outline-dark">You can't edit other's reservations</button>
    <% end %>
  </div>
</div>
