<div class="container text-center">
  <div class="login-container">
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <div id="output"></div>
      <div class="avatar"><%= image_tag("avatar.png", class:"rounded-circle", style:"width:100px; height:100px", :alt => "avatar") %></div>
      <div class="form-group">
        <%= f.text_field :email, class: "form-control", placeholder: "Enter email" %>
      </div>
      <div class="form-group sign-up-fg">
        <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
      </div>
      <div class="remember-box">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
        <%= f.submit 'Sign in', class: "btn btn-outline-success btn-customize col-md-6 sign-in-btn" %>
        <p class="text-center no-account"><a href="sign_up">Don't have an account?</a></p>
    <% end %>
  </div>
</div>
