<nav class="navbar navbar-expand-lg navbar-custom">
  <!-- <%= link_to root_path do %>
  <img class="navbar-logo" src="https://image.flaticon.com/icons/svg/992/992604.svg" width="50" height="50" alt="App logo">
  <% end %> -->
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <% unless current_user %>
      <li class="nav-item">
        <a class="nav-link" href="/my/users/sign_up">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my/users/sign_in">Sign in</a>
      </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/halls#index">Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reservations#index">Reservations</a>
      </li>
        <% if current_user.admin %>
        <li class="nav-item">
          <a class="nav-link" href="/admins">Users</a>
        </li>
        <li class="nav-item">
             <a class="nav-link admin-label">Logged as admin</a>
        </li>
        <% end %>
      <ul class="nav navbar-custom">
        <li class="dropdown nav-link"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <div class="navbar-content">
                        <div class="row">
                            <div class="col-md-5">
                              <% unless current_user.avatar.url.present? %>
                                <%= image_tag("avatar.png", class:"rounded-circle", style:"width:100px; height:100px", :alt => "avatar") %>
                              <% else %>
                                <%= image_tag current_user.avatar.url, class:"rounded-circle", style:"width:100px; height:100px", :alt => "avatar"%>
                              <% end %>
                            </div>
                            <div class="col-md-7">
                                <span><%=  "#{current_user.fullname}" %></span>
                                <p class="text-muted small">
                                    <%= "#{current_user.email}" %></p>
                                <div class="divider">
                                </div>
                                <% if current_user %>
                                  <a href="/users#index" class="btn btn-primary">View Profile</a>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-footer">
                        <div class="navbar-footer-content">
                            <div class="row">
                                <div class="text-center">
                                    <%= link_to "Change your password", edit_user_registration_path, class:'btn btn-primary btn-sm active' %>
                                </div>
                                <div class="col-md-3">
                                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'btn btn-primary btn-sm active' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
    </ul>
  </div>
</nav>
