<div class="home-logo text-center">
  <%= image_tag("binarApps.png", alt:"BA logo", onclick: "openNav()" )%>
</div>

<div class="home-page-header text-center col-md-12">
  <h2> Welcome to Binar::Meeting</h2>
  <% if current_user %>
    <h3>Logged</h3>
    Admin:
      <% if current_user.is_admin? %>
        True
      <% else %>
        False
      <% end %>
<h3 class="rooms-header"> Available rooms: </h3>
<h5 class="small-header">click "See more" to make reservation </h5>

<div class="row room-card">
  <!-- <div class="col-md-12 col-centered"> -->
    <% @roomc.each do |f| %>
      <div class="card col-md-2">
        <div class="card-body">
           <h5 class="card-title"><%="#{f.title}"%></h5>
           <p class="card-text"><%="Beautiful, cozy room for #{f.capacity} people"%></p>
           <%= link_to 'See more', hall_path(id: f.id), role: 'button', class:'btn btn-danger text-center' %>
      </div>
    </div>
    <% end %>
  <!-- </div> -->
</div>

<div class="calendar"></div>

  <% else %>
  <h3>Not Logged</h3>
</div>

<%= render 'layouts/partials/login_form' %>
  <% end %>
